<%- include("header") -%>

<h1>Edit your Profile!</h1>

<h2 style="color: red;"><%= err_msg %></h2>


<div class="register_box">
    <form id="reg_form" action="/edit_profile" method="POST">
        
        <p style="color: blue;">Username cannot be changed once entered. You can only change the following data:</p>

        <label>Password: </label>
        <input type="password" name="password" required value=<%= user_data.user_password%> > <br> <br>
        
        <label>Name: </label>
        <input type="text" name="name" required value=<%= user_data.full_name%> > <br> <br>
        
        <label>Place: </label>
        <input type="text" name="place" required value=<%= user_data.place%> > <br> <br>
        
        <label>Mobile Number: </label>
        <input type="text" name="mobile_number" required value=<%= user_data.phone_number%> > <br> <br>

        <label>About: </label>
        <input type="text" name="about" required value=<%= user_data.about%> > <br> <br>

        <input type="submit" class="reg_submit">
    </form>
</div>        

<%- include("footer") -%>