<%- include('header') -%>

<div class="profile-box">
    
    <%var user_data_keys = Object.keys(user_data)%>

    <% for (var i = 0; i < user_data_keys.length; i++) {%>
        <p><%= user_data_keys[i] %> : <%= user_data[user_data_keys[i]] %></p>
    <%}%>
    <br>

    <% if (showEdit === true) {%>
        <form action="/edit_profile" method="GET">
            <button>Edit Profile</button>
        </form>
    <%} else {%>

        <%if (showFollow === true) {%>
            <form action="/follow_new_user" method="POST">
                <input type="hidden" name="user_id" value=<%= user_id%> >
                <button>Follow</button>
            </form>
        <%} else {%>
            <button>Following</button>
        <%}%>
        
    <%}%>

    <br>
    


</div>


<%- include('footer') -%>